<!-- Normally implements sidenav with good design here. -->
<aside>
  <li class="nav-item col-6 mx-2">
    <a
      class="nav-link py-2 px-0 px-lg-2 text-white"
      role="button"
      routerLink="/top-sub1/sub-sub1/component-load"
    >
      Sub-Sub 1 - Component Load
    </a>
  </li>
  <li class="nav-item col-6 mx-2">
    <a
      class="nav-link py-2 px-0 px-lg-2 text-white"
      role="button"
      routerLink="/top-sub1/sub-sub1/top-load"
    >
      Sub-Sub 1 - Top Load
    </a>
  </li>
  <!-- More Sub-Routes here -->
</aside>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <!-- Normally footer implemented here -->
</footer>
